.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftcontainer {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 30%;
  min-width: 350px;
  height: calc(100% - 25px);
  padding: 15px;
}

.rightcontainer {
  margin-left: 50px;
  width: 65%;
  height: 100%;
  max-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.container h1 {
  font-size: 1.7rem;
  font-weight: 600;
}

.meetnote {
  width: 100%;
  height: calc(100% - 100px);
}
