.formContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 350px;
  max-width: 500px;
}

.profileImageSection {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.nicknameSection {
  width: 75%;
}
