.container {
  width: 100%;
  padding: 5px;
  height: calc(100% - 80px);
  max-height: calc(100% - 80px);
}

.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.container h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
}

.form {
  margin-left: 80px;
  width: 80%;
}
