.container {
  display: flex;
  flex-direction: column;
  flex: wrap;
  width: 100vw;
  background-color: var(--color-background);
}

.box {
  display: flex;
}

.mainbox {
  width: calc(100% - 150px);
  max-height: calc(100vh - 180px);
  border-top-left-radius: 25px;
  background-color: white;
  padding: 50px;
}
