.container {
  display: flex;
  flex-direction: column;
  flex: wrap;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--color-background);
}

.box {
  display: flex;
}

.mainbox {
  width: calc(100% - 150px);
  border-top-left-radius: 25px;
  background-color: white;
  padding: 50px 0 0 50px;
}
