.calendarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calendarContainer :global(.fc) {
  width: 100% !important;
  height: 90% !important;
  flex: 1;
}

.calendarContainer :global(.fc-view-harness) {
  height: 90% !important;
}

.calendarContainer :global(.fc-view-harness-active) {
  height: 90% !important;
}

/* 헤더 툴바 스타일 */
.calendarContainer :global(.fc-toolbar-title) {
  font-weight: bold;
}

.calendarContainer :global(.fc-button) {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 8px 13px;
  border-radius: 3px;
  cursor: pointer;
}

.calendarContainer :global(.fc-button:hover) {
  background-color: #357abd;
}

.calendarContainer :global(.fc-button-active) {
  background-color: #2c5aa0;
}

/* 선택된 영역 스타일 */
.projectCalendar :global(.fc-highlight) {
  background-color: var(--project-color) !important;
}

/* 일반 캘린더용 하이라이트 스타일 */
.normalCalendar :global(.fc-highlight) {
  background-color: #4285f4 !important; /* 파란색 */
}

.calendarContainer :global(.fc-timegrid-now-indicator-line) {
  border-color: red;
  border-width: 1px;
}

.calendarContainer :global(.fc-timegrid-now-indicator-arrow) {
  border-color: red;
  border-width: 5px;
  border-radius: 5px;
}

/* FullCalendar의 일정 스타일 재정의 */
.calendarContainer :global(.fc-event),
.calendarContainer :global(.fc-event-main),
.calendarContainer :global(.fc-event-main-frame) {
  background-color: transparent !important;
  border: none !important;
}

.calendarContainer :global(.fc-daygrid-event-dot) {
  display: none !important;
}

/* 일정박스 스타일 */
.eventBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow: hidden;
}

.eventBoxTime {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 9.5px;
}

.eventBoxIcon {
  text-align: end;
  margin-top: 5px;
  color: greenyellow;
}

.smallIcon {
  font-size: 18px !important;
}
