.container {
  width: 170px;
  max-width: 170px;
  height: calc(100vh - 80px);
}

.container ul {
  padding-top: 40px;
  width: 100%;
  list-style: none;
}

.container li {
  padding-left: 13px;
  height: 70px;
  line-height: 70px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.container .active {
  background-color: var(--color-primary);
}

.container .active a {
  font-weight: bold;
  color: white;
}

.container li svg {
  margin-right: 13px;
  font-size: 30px;
  color: var(--color-primary);
}

.container .active svg {
  color: white;
}
