.container {
  padding: 100px 0;
  width: 100vw;
  height: calc(100vh - 366px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: var(--color-primary);
  font-family: var(--logo-font);
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 50px;
}
